 <!-- <aside class="main-sidebar">
      <section class="sidebar">

         <ul class="sidebar-menu">
        <li class="header"></li>

        <li class=" treeview">
 <a href="#" id="dLabel" class=" fa fa-adjust">
<span>Configurations</span><span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
         </a>
   <ul class="treeview-menu">
              <li><a  style=" background-image: none" class="fa fa-map">
              <span>Grade</span></a></li>
   </ul>
 </li>
 <li class=" treeview">
 <a routerLink="/company_details" style="" class="fa fa-home">
            <span>Company</span></a>

            </li>
<li class=" treeview">
 <a routerLink="/company_grade" style="" class="fa fa-home">
            <span>CompanyGrade</span></a>

            </li>
       <li class=" treeview">
              <a href="#">
                 <i class="fa fa-sign-out"></i> <span>Sign out</span>
               </a>
              </li>

      </ul>


       </section>
  </aside> -->



  <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">

        <!-- /.search form -->
           <ul class="sidebar-menu">
          <li class="header"></li>

          <li class=" treeview">
   <a  id="dLabel" class=" fa fa-dashboard">
   <span>Dashboard</span></a>
           </li>

          <li class=" treeview">
   <a  id="dLabel" class=" fa fa-bank">
  <span>Approval</span><span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
           </a>
   <ul class="treeview-menu">
          <li><a  style=" background-image: none" class="fa fa-inbox">
                <span>Confirm Vesting Details</span></a></li>
          <li><a  style=" background-image: none" class="fa fa-first-order">
                <span>Exercises and Grant requests</span></a></li>
          <li><a  style=" background-image: none" class="fa fa-file-movie-o">
                <span>Allotment</span></a></li>
   </ul>

   </li>

  <li class=" treeview">
   <a  id="dLabel" class=" fa fa-paperclip">
  <span>Reports</span><span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
           </a>
   <ul class="treeview-menu">
           <li><a  style=" background-image: none" class="fa fa-fire-extinguisher">
                <span>Exhaustive Report</span></a></li>
           <li><a  style=" background-image: none" class="fa fa-book">
                <span>Board's Report</span></a></li>
           <li><a  style=" background-image: none" class="fa fa-cc-mastercard">
                <span>SH6 Report</span></a></li>
           <li><a  style=" background-image: none" class="fa fa-cc-mastercard">
                <span>Options Available Report</span></a></li>
           <li><a  style=" background-image: none" class="fa fa-paper-plane">
                <span>Lapse Report</span></a></li>
   </ul>
   </li>
    <li class=" treeview">
   <a  id="dLabel" class=" fa fa-file-archive-o">
  <span>Documents</span><span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
           </a>

       <ul class="treeview-menu">
             <li><a  style=" background-image: none" class="fa fa-filter" >
                <span>My Documents</span></a></li>
                 <li><a  style=" background-image: none" class="fa fa-file-word-o">
          <span>Submitted Exercise Letters</span></a></li>
          <li><a style=" background-image: none" class="fa fa-file-pdf-o">
           <span>Submitted Grant Letters</span></a></li>
        </ul>

   </li>


          <li class=" treeview">
   <a  id="dLabel" class=" fa fa-adjust">
  <span>Configurations</span><span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
           </a>

            <ul class="treeview-menu">
            <li>
            <a  id="dLabel" class=" fa fa-sellsy" style="color:#FFF;">
  <span>Scheme and Grant</span><span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
           </a>

         <ul class="treeview-menu">
           <li><a routerLink="/SchemeDoosire" style=" background-image: none" class="fa fa-info">
              <span>Scheme Dossier</span></a></li>
         <li><a  style=" background-image: none" class="fa fa-files-o">
                <span>Manage Grantee</span></a></li>

        </ul>
        </li>

   </ul>

           <ul class="treeview-menu">
            <li>
            <a  id="dLabel" class=" fa fa-building" style="color:#FFF;">
  <span>Organisation setup</span><span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
           </a>

         <ul class="treeview-menu">
                <li><a  routerLink="/company_details" style=" background-image: none" class="fa fa-home">
                <span>Company</span></a></li>
                <li><a routerLink="/company_grade"style=" background-image: none" class="fa fa-map">
                <span>Grade</span></a></li>
                <li><a  style=" background-image: none" class="fa fa-map-pin">
                <span>Location</span></a></li>
                <li><a routerLink="/Company_department"  style=" background-image: none" class="fa fa-sellsy">
                <span>Department</span></a></li>
                <li><a  style=" background-image: none" class="fa fa-user-md">
                <span>Designation</span></a></li>
                <li><a style=" background-image: none" class="fa fa-server">
                <span>Division</span></a></li>
                <li><a  style=" background-image: none" class="fa fa-bank">
                <span>Bank</span></a></li>
                 <li><a  style=" background-image: none" class="fa fa-outdent">
                <span>Roles</span></a></li>

        </ul>
        </li>

   </ul>

           <ul class="treeview-menu">
            <li>
            <a  id="dLabel" class=" fa fa-group" style="color:#FFF;">
  <span>User Management</span><span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
           </a>

         <ul class="treeview-menu">
                 <li><a  style=" background-image: none" class="fa fa-user">
                <span>Users</span></a></li>

        </ul>
        </li>

   </ul>
     <ul class="treeview-menu">

                 <li><a  style=" background-image: none" class="fa fa-question-circle">
                <span>FAQ</span></a></li>
                <li><a  style=" background-image: none" class="fa fa-file-powerpoint-o">
                <span>Mailers</span></a></li>
                <li><a  style=" background-image: none" class="fa fa-hospital-o">
                <span>Corporate Actions</span></a></li>
                <li><a  style=" background-image: none" class="fa fa-bar-chart">
                <span>Trading window</span></a></li>
                <li><a  style=" background-image: none" class="fa fa-edit">
                <span>Change Password</span></a></li>

        </ul>

   </li>
         <li class=" treeview">
                <a >
                   <i class="fa fa-sign-out"></i> <span>Sign out</span>
                 </a>
                </li>
        </ul>

         </section>
      <!-- /.sidebar -->
    </aside>
